<div class="col-xs-12 col-sm-12 col-md-12 main__navbar">
    <div class="main__navbar__brand">
        <span>THESIS</span>
        <div class="main__navbar__user">
            <span class="main__navbar__user__text">{{vm.currentUser.FullName}}</span>
            <a class="main__navbar__user__button" ng-click="vm.logout()"><span class="glyphicon glyphicon-off"></span></a>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 main__menu">
    <ul class="list-inline main__menu__ul pull-right">
        <li class="main__menu__li"><a href="#/home">Trang chủ</a></li>
        <li class="main__menu__li main__menu__li--active"><a>Hành trình tàu</a></li>
        <li class="main__menu__li"><a href="#/edit">Thông Tin Tàu</a></li>
        <li class="main__menu__li" ng-if="vm.currentUser.Id === 1"><a href="#/storm">Thông Tin Bão</a></li>
        <li class="main__menu__li"><a href="#/weather">Thời Tiết</a></li>
        <li class="main__menu__li"><a href="#/law">Pháp Luật</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 main__container">
    <div class="col-xs-3 col-sm-3 col-md-3 small-col" ng-if="vm.warningMessage || vm.warningMessage">
        <div class="home__warning-title">Cảnh Báo</div>
        <p ng-bind-html="vm.warningMessage" ng-if="vm.warningMessage"></p>
        <p ng-bind-html="vm.warningMessageForStorm" ng-if="vm.warningMessageForStorm"></p>
    </div>
    <div class="" ng-class="{'col-xs-12 col-sm-12 col-md-12': !vm.warningMessage && !vm.warningMessage, 'col-xs-9 col-sm-9 col-md-9 big-col': vm.warningMessage || vm.warningMessage}">
        <div id='legend' style='display:none;'>
            <strong>Chú thích:</strong>
            <nav class='legend clearfix'>
                <span style='background: url("../../assets/img/ship-marker/green-2.png") no-repeat center;'></span>
                <span style='background: url("../../assets/img/ship-marker/international-ship.png") no-repeat center; '></span>
                <span style='background: url("../../assets/img/warning-location/reef.png") no-repeat center;'></span>
                <span style='background: url("../../assets/img/warning-location/pirate-ship.png") no-repeat center;'></span>
                <span style='background: url("../../assets/img/warning-location/china-ship.png") no-repeat center;'></span>
                <label>Tàu ngư dân</label>
                <label>Tàu quốc tế</label>
                <label>Bãi rạng</label>
                <label>Hải tặc</label>
                <label>Tàu TQ</label>
            </nav>
        </div>
        <div id="leaflet-map" class="leaflet-map"></div>
    </div>
</div>

<div class="main__author">@Trương Văn Linh - Nguyễn Thành Vinh</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="overlay" id="overlay" style="display: none;">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinnerSearch" spinner-start-active="false"></span>
    </div>
</div>