
<div class="col-xs-12 col-sm-12 col-md-12 main__navbar">
    <div class="main__navbar__brand">
        <img src="../../assets/img/logo/logo.png" class="main-page__logo " />
        <div class="main__navbar__user">
            <span class="main__navbar__user__text">{{vm.currentUser.FullName}}</span>
            <a class="main__navbar__user__button" ng-click="vm.logout()"><span class="glyphicon glyphicon-off"></span></a>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 main__menu">
    <ul class="list-inline main__menu__ul pull-right">
        <li class="main__menu__li"><a href="#/trang-chu">Trang chủ</a></li>
        <li class="main__menu__li"><a href="#/mo-phong">Hành trình tàu</a></li>
        <li class="main__menu__li"><a href="#/tau">Thông Tin Tàu</a></li>
        <li class="main__menu__li main__menu__li--active"><a>Thông Tin Bão</a></li>
        <li class="main__menu__li"><a href="#/canh-bao">Thông Tin Cảnh Báo</a></li>
        <li class="main__menu__li"><a href="#/thoi-tiet">Thời Tiết</a></li>
        <li class="main__menu__li"><a href="#/phap-luat">Pháp Luật</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 main__container">
    <div class="main__detail container">
        <div>
            <ul class="list-inline tvl-menu">
                <li ng-click="vm.showAddStorm()" class="tvl-menu__li" ng-class="{'tvl-menu__li--active': vm.pushDownSettings.mode.addStorm}">
                    <span class="glyphicon glyphicon-plus tvl-menu__li-icon "></span>Thêm
                </li>
                <li ng-click="vm.showEditStorm()" class="tvl-menu__li" ng-class="{'tvl-menu__li--active': vm.pushDownSettings.mode.editStorm}">
                    <span class="glyphicon glyphicon-edit tvl-menu__li-icon "></span>Chỉnh Sửa
                </li>
            </ul>
        </div>

        <push-down ng-if="vm.pushDownSettings.isActive">
            <add-storm ng-if="vm.pushDownSettings.mode.addStorm" handle-after-save="vm.handleAfterSave(stormFromApi)"></add-storm>
            <edit-storm ng-if="vm.pushDownSettings.mode.editStorm" handle-after-save="vm.handleAfterEditStorm(stormFromApi)" storms="vm.storms"></edit-storm>
        </push-down>

        <div class="ship-list">
            <p class="ship-list__heading">Tổng số cơn bão hiện tại: {{vm.storms.length}}</p>
            <div class="col-xs-6 col-sm-6 col-md-6" ng-repeat="storm in vm.storms">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">Mã cơn bão: {{storm.Id}}</li>
                    <li class="list-group-item list-group-item-info">Tên bão: {{storm.Name}}</li>
                    <li class="list-group-item list-group-item-info">Bán kính: {{storm.Radius}}</li>
                    <li class="list-group-item list-group-item-info">Vĩ độ tâm bão: {{storm.Latitude}}</li>
                    <li class="list-group-item list-group-item-info">Kinh độ tâm bão: {{storm.Longitude}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main__author">@Trương Văn Linh - Nguyễn Thành Vinh</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="overlay" id="overlay" style="display: none;">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinnerSearch" spinner-start-active="false"></span>
    </div>
</div>