
<div class="col-xs-12 col-sm-12 col-md-12 main__navbar">
    <div class="main__navbar__brand">
        <span>THESIS</span>
        <div class="main__navbar__user">
            <span class="main__navbar__user__text">{{vm.currentUser.UserName}}</span>
            <a class="main__navbar__user__button" ng-click="vm.logout()"><span class="glyphicon glyphicon-off"></span></a>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 main__menu">
    <ul class="list-inline main__menu__ul pull-right">
        <li class="main__menu__li"><a href="#/home">Trang chủ</a></li>
        <li class="main__menu__li"><a href="#/simulate">Hành trình tàu</a></li>
        <li class="main__menu__li"><a href="#/edit">Thông Tin Tàu</a></li>
        <li class="main__menu__li main__menu__li--active"><a>Thông Tin Bão</a></li>
        <li class="main__menu__li"><a href="#/weather">Thời Tiết</a></li>
        <li class="main__menu__li"><a href="#/law">Pháp Luật</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 main__container">
    <div class="main__detail container">
        <form class="form-horizontal" style="margin-top: 10px;">
            <div class="form-group">
                <label class="col-xs-3 col-sm-3 col-md-3 control-label">Số Lượng Bão</label>
                <label class="col-xs-5 col-sm-5 col-md-5 control-label" style="text-align: left;">{{vm.storms.length}}</label>
            </div>
            <div class="form-group">
                <label class="col-xs-3 col-sm-3 col-md-3 control-label">Mã Cơn Bão</label>
                <div class="col-xs-5 col-sm-5 col-md-5">
                    <select class="form-control" ng-options="item as item.Id for item in vm.storms" ng-model="vm.selectedStorm"></select>
                </div>
            </div>
            <div ng-if="vm.selectedStorm.Id">
                <div class="form-group">
                    <label for="stormName" class="col-xs-3 col-sm-3 col-md-3 control-label">Tên Bão</label>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        <input id="stormName" class="form-control" placeholder="Tên bão" type="text" ng-model="vm.selectedStorm.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="stormRadius" class="col-xs-3 col-sm-3 col-md-3 control-label">Bán Kính</label>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        <input id="stormRadius" class="form-control" placeholder="Bán kính" type="number" ng-model="vm.selectedStorm.Radius" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="stormLatitude" class="col-xs-3 col-sm-3 col-md-3 control-label">Vĩ Độ Tâm Bão</label>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        <input id="stormLatitude" class="form-control" placeholder="Vĩ độ tâm bão" type="number" ng-model="vm.selectedStorm.Latitude" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="stormLongitude" class="col-xs-3 col-sm-3 col-md-3 control-label">Kinh Độ Tâm Bão</label>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        <input id="stormLongitude" class="form-control" placeholder="Kinh độ tâm bão" type="number" ng-model="vm.selectedStorm.Longitude" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-sm-3 col-md-3"></div>
                    <div class="col-xs-5 col-sm-5 col-md-5">
                        <button ng-click="vm.updateStorm()" class="login-page__form__button" style="border-color: #244f95; color: #244f95; background-color: white;">Lưu Thay Đổi</button>
                        <button ng-click="vm.deleteStorm()" class="login-page__form__button" style="border-color: #244f95; color: #244f95;">Xóa Bão</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="main__author">@Trương Văn Linh - Nguyễn Thành Vinh</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="overlay" id="overlay" style="display: none;">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinnerSearch" spinner-start-active="false"></span>
    </div>
</div>