<div class="col-md-offset-4 col-md-4">
    <form class="form-horizontal login-page__form col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
        <div class="form-group">
            <img src="../../assets/img/logo/logo.png" class="login-page__logo " />
        </div>
        <div class="form-group">
            <input type="text" class="form-control login-page__form__input" placeholder="Tài khoản" ng-model="vm.user.UserName">
        </div>
        <div class="form-group">
            <input type="password" class="form-control login-page__form__input" placeholder="Mật khẩu" ng-model="vm.user.Password">
        </div>
        <div class="form-group">
            <button class="login-page__form__button pull-right" ng-click="vm.login()">Đăng nhập</button>
        </div>
        <div class="form-group">
            <a href="#/signup" class="control-label login-page__form__ps">Đăng ký tài khoản mới</a>
        </div>
    </form>
</div>

<div class="login-page__company">@Trương Văn Linh - Nguyễn Thành Vinh</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="overlay" id="overlay" style="display: none;">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinnerSearch" spinner-start-active="false"></span>
    </div>
</div>