<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">Đăng Nhập</div>
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="Tài khoản" type="text" autofocus="" ng-model="vm.user.UserName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Mật khẩu" type="password" ng-model="vm.user.Password">
                    </div>
                    <a class="btn btn-primary" ng-click="vm.login()" ng-subm>Đăng nhập</a>
                </fieldset>
            </form>
            <div class="pull-right">
                <a href="#/signup">Tạo tài khoản mới</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="overlay" id="overlay" style="display: none;">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinnerSearch" spinner-start-active="false"></span>
    </div>
</div>