<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-6 control-label push-down__heading">Thêm Tàu</label>
    </div>
    <div class="form-group">
        <label for="shipType" class="col-sm-2 control-label push-down__label ">Loại tàu</label>
        <div class="col-sm-5">
            <select class="form-control" ng-options="item.value as item.name for item in vm.shipTypes" ng-model="vm.shipViewModel.ShipType"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="shipSpeed" class="col-sm-2 control-label push-down__label ">Vận tốc</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="shipSpeed" placeholder="Vận tốc" ng-model="vm.shipViewModel.Speed">
        </div>
    </div>
    <div class="form-group">
        <label for="shipWeight" class="col-sm-2 control-label push-down__label ">Trọng tải</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="shipWeight" placeholder="Trọng tải" ng-model="vm.shipViewModel.Weight">
        </div>
    </div>
    <div class="form-group">
        <label for="shipCaption" class="col-sm-2 control-label push-down__label ">Thuyền trưởng</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="shipCaption" placeholder="Họ tên thuyền trưởng" ng-model="vm.shipViewModel.Caption">
        </div>
    </div>
    <div class="form-group">
        <label for="shipSailors" class="col-sm-2 control-label push-down__label ">Số thuyền viên</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="shipSailors" placeholder="Số lượng thuyền viên" ng-model="vm.shipViewModel.Sailors">
        </div>
    </div>
    <div class="form-group">
        <label for="shipLaitude" class="col-sm-2 control-label push-down__label ">Vĩ độ tàu xuất phát</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="shipLaitude" placeholder="Vĩ độ tàu xuất phát" ng-model="vm.shipLocation.Latitude">
        </div>
    </div>
    <div class="form-group">
        <label for="shipLongitude" class="col-sm-2 control-label push-down__label ">Kinh độ tàu xuất phát</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="shipLongitude" placeholder="Kinh độ tàu xuất phát" ng-model="vm.shipLocation.Longitude">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 pull-right">
            <button class="btn btn-primary" ng-click="vm.addShip()">Thêm</button>
            <button class="btn btn-danger" ng-click="vm.close()">Đóng</button>
        </div>
    </div>
</form>