<div class="modal-header">
    <h4>Cài Đặt</h4>
</div>

<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-5 control-label">Cập nhật tọa độ sau(giây)</label>
            <div class="col-sm-7">
                <rzslider rz-slider-model="updateLocationTimeoutSlider.value"
                          rz-slider-options="updateLocationTimeoutSlider.options"></rzslider>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Gửi tọa độ sau(giây)</label>
            <div class="col-sm-7">
                <rzslider rz-slider-model="sendLocationTimeoutSlider.value"
                          rz-slider-options="sendLocationTimeoutSlider.options"></rzslider>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Cập nhật tọa độ sau(giây)</label>
            <div class="col-sm-7">
                <input type="number" ng-model="settingTimeout.updateLocation"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Gửi tọa độ sau(giây)</label>
            <div class="col-sm-7">
                <input type="number" ng-model="settingTimeout.sendLocation" />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="closeDialog()">Đóng</button>
</div>