<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">Đăng Ký</div>
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="Tên tài khoản" type="text" autofocus="" ng-model="vm.newUser.UserName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Số điện thoại liên lạc" type="text" autofocus="" ng-model="vm.newUser.Phone">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Mật khẩu" type="password" value="" ng-model="vm.newUser.Password">
                    </div>
                    <a class="btn btn-primary" ng-click="vm.createUser()">Đăng ký</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="overlay" id="overlay" style="display: none; ">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinnerSearch" spinner-start-active="false"></span>
    </div>
</div>