<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Ứng Dụng Mô Phỏng</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="bower_components/toastr/toastr.min.css" rel="stylesheet" />
    <link href="bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="bower_components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet" />
    <link href="assets/css/home.css" rel="stylesheet" />
    <link href="assets/css/push-down.css" rel="stylesheet" />
    <link href="assets/css/ship-container.css" rel="stylesheet" />

</head>

<body ng-controller="homeCtrl as vm">
    <div class="col-xs-12 col-sm-12 col-md-12 home__navbar">
        <span class="home__navbar__brand">THESIS</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 home__menu">
        <ul class="list-inline home__menu__ul">
            <li class="home__menu__li" ng-class="{'home__menu__li--active': vm.pushDownSettings.mode.addShip}">
                <a ng-click="vm.showAddShip()"><i class="fa fa-ship"></i>Thêm tàu</a>
            </li>
            <li class="home__menu__li" ng-class="{'home__menu__li--active': vm.pushDownSettings.mode.addWarning}">
                <a ng-click="vm.showAddWarning()"><i class="fa fa-exclamation-triangle"></i>Thêm cảnh báo</a>
            </li>
            <li class="home__menu__li" ng-class="{'home__menu__li--active': vm.pushDownSettings.mode.addStorm}">
                <a ng-click="vm.showAddStorm()"><i class="fa fa-skyatlas"></i>Thêm bão</a>
            </li>
            <li class="home__menu__li" ng-class="{'home__menu__li--active': vm.pushDownSettings.mode.editSettings}">
                <a ng-click="vm.showEditSettings()"><i class="fa fa-cog"></i>Tùy chỉnh</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="container">
            <push-down ng-if="vm.pushDownSettings.isActive">
                <add-ship ng-if="vm.pushDownSettings.mode.addShip" overlay="vm.overlay" users="vm.users"></add-ship>
                <add-storm ng-if="vm.pushDownSettings.mode.addStorm" overlay="vm.overlay"></add-storm>
                <add-warning ng-if="vm.pushDownSettings.mode.addWarning" overlay="vm.overlay"></add-warning>
                <edit-settings ng-if="vm.pushDownSettings.mode.editSettings"></edit-settings>
            </push-down>
            <div class="ship-container">
                <div ng-if="vm.ships.length >0">
                    <div class="ship-container__title">Số Lượng Tàu: {{vm.ships.length}}</div>
                    <div ng-repeat="ship in vm.ships">
                        <ship ship-info="ship" ship-index="$index" setting-timeout="vm.settingTimeout" overlay="vm.overlay"></ship>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 author">
        <div class="author__text">@Trương Văn Linh - Nguyễn Thành Vinh</div>
    </div>
    <!--<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            <li class="clickable-element"><a ng-click="vm.openCreateShipDialog()"><span class="menu-icon ion-android-boat"></span>Thêm tàu</a></li>
            <li class="clickable-element"><a ng-click="vm.openCreateWarningLocationDialog()"><span class="menu-icon ion-android-pin"></span>Thêm cảnh báo</a></li>
            <li class="clickable-element"><a ng-click="vm.openCreateStormDialog()"><span class="menu-icon ion-ios-thunderstorm-outline"></span>Thêm bão</a></li>
            <li class="clickable-element"><a ng-click="vm.openSimulatorSettingDialog()"><span class="menu-icon ion-android-settings"></span>Cài đặt</a></li>

        </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Danh sách tàu</h2>
                <div ng-repeat="ship in vm.ships">
                    <ship ship-info="ship" ship-index="$index" setting-timeout="vm.settingTimeout" overlay="vm.overlay"></ship>
                </div>
            </div>
        </div>

    </div>-->

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="overlay" id="overlay">
            <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinnerSearch" spinner-start-active="false"></span>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/toastr/toastr.min.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="bower_components/spin.js/spin.min.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>

    <script src="src/app.js"></script>
    <script src="src/app.const.js"></script>

    <script src="src/services/spinnerUtilSvc.js"></script>
    <script src="src/services/latlongUtilSvc.js"></script>

    <script src="src/home/homeCtrl.js"></script>
    <script src="src/home/homeSvc.js"></script>
    <script src="src/home/homeDataSvc.js"></script>

    <script src="src/ship/shipDataSvc.js"></script>

    <script src="src/pushDown/pushDownSvc.js"></script>
    <script src="src/pushDown/pushDownCtrl.js"></script>
    <script src="src/pushDown/push-down.js"></script>

    <script src="src/addShip/addShipCtrl.js"></script>
    <script src="src/addShip/add-ship.js"></script>
    <script src="src/addShip/createShipDialogSvc.js"></script>

    <script src="src/addStorm/addStormCtrl.js"></script>
    <script src="src/addStorm/add-storm.js"></script>
    <script src="src/addStorm/addStormDataSvc.js"></script>

    <script src="src/addWarning/addWarningCtrl.js"></script>
    <script src="src/addWarning/add-warning.js"></script>
    <script src="src/addWarning/createWarningLocationDialogSvc.js"></script>
    <script src="src/addWarning/createWarningLocationDialogDataSvc.js"></script>

    <script src="src/editSettings/editSettingsCtrl.js"></script>
    <script src="src/editSettings/edit-settings.js"></script>
    <script src="src/editSettings/simulatorSettingDialogSvc.js"></script>

    <script src="src/ship/shipCtrl.js"></script>
    <script src="src/ship/ship.js"></script>
    <script src="src/ship/shipDataSvc.js"></script>

</body>

</html>
