<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-6 control-label push-down__heading">Thêm Bão</label>
    </div>
    <div class="form-group">
        <label for="stormName" class="col-sm-2 control-label push-down__label ">Tên bão</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="stormName" placeholder="Tên bão" ng-model="vm.stormViewModel.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="stormRadius" class="col-sm-2 control-label push-down__label ">Bán kính</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="stormRadius" placeholder="Bán kính" ng-model="vm.stormViewModel.Radius">
        </div>
    </div>
    <div class="form-group">
        <label for="stormLatitude" class="col-sm-2 control-label push-down__label ">Vĩ độ tâm bão</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="stormLatitude" placeholder="Vĩ độ tâm bão" ng-model="vm.stormViewModel.Latitude">
        </div>
    </div>
    <div class="form-group">
        <label for="stormLongitude" class="col-sm-2 control-label push-down__label ">Kinh độ tâm bão</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="stormLongitude" placeholder="Kinh độ tâm bão" ng-model="vm.stormViewModel.Longitude">
        </div>
    </div>
    <div class="form-group">
        <label for="stormDescription" class="col-sm-2 control-label push-down__label ">Mô tả</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="stormDescription" placeholder="Mô tả chi tiết" ng-model="vm.stormViewModel.Description">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 pull-right">
            <button class="btn btn-primary" ng-click="vm.addStorm()">Thêm</button>
            <button class="btn btn-danger" ng-click="vm.close()">Đóng</button>
        </div>
    </div>
</form>